<!DOCTYPE html><html class="swal2-shown swal2-height-auto"><head>
    <meta charset="utf-8">
    <title>ST2020 | Chat</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
  </head>
  <body class="chat swal2-shown swal2-height-auto">
  
    <div class="chat__sidebar" aria-hidden="true">
      <h3>Member</h3>
      <div id="users"><ol><li>John</li></ol></div>
    </div>
  
    <div class="chat__main" aria-hidden="true">
  
        <ol id="messages" class="chat__messages">
    <li class="message">
      <div class="message__title">
        <h4>Admin</h4>
        <span>1:03 am</span>
      </div>
      <div class="message__body">
        <p>Hi John, Welcome to the chat app</p>
      </div>
    </li>
   </ol>  <!-- order list -->
  
        <div class="chat__footer">
          <form id="message-form">
            <input name="message" type="text" placeholder="Message" autofocus="" autocomplete="off">
            <button>Send</button>
          </form>
          <button id="send-location">Send location</button>
        </div>
        
  
    </div>
  
   <!-- for render Mustache template -->
   <script id="message-template" type="text/template" aria-hidden="true">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createAt}}</span>
      </div>
      <div class="message__body">
        <p>{{text}}</p>
      </div>
    </li>
   </script>
  
   <script id="location-message-template" type="text/template" aria-hidden="true">
    <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createAt}}</span>
      </div>
      <div class="message__body">
        <!-- <a href="{{url}}" target="_blank">My Current Location</a> -->
        <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;coord={{lat}},{{lng}}&amp;q={{lat}}%2C{{lng}}+(map)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe></div>
      </div>
    </li>
   </script>
  
  <script src="/socket.io/socket.io.js" aria-hidden="true"></script>
  <script src="/js/libs/jquery-3.1.0.min.js" aria-hidden="true"></script>
  <script src="/js/libs/sweetalert2.min.js" aria-hidden="true"></script>
  <script src="/js/libs/moment.js" aria-hidden="true"></script>
  <script src="/js/libs/mustache.js" aria-hidden="true"></script>
  <script src="/js/libs/deparam.js" aria-hidden="true"></script>
  <script src="/js/chat.js" aria-hidden="true"></script>
  
  
  <div class="swal2-container swal2-top-end swal2-backdrop-show" style="overflow-y: auto;">
        <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
            <div class="swal2-header">
                <ul class="swal2-progress-steps" style="display: none;"></ul>
                <div class="swal2-icon swal2-error" style="display: none;"></div>
                <div class="swal2-icon swal2-question" style="display: none;"></div>
                <div class="swal2-icon swal2-warning" style="display: none;"></div>
                <div class="swal2-icon swal2-info" style="display: none;"></div>
                <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                    <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                    <div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                    <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                </div>
                <img class="swal2-image" style="display: none;">
                <h2 class="swal2-title" id="swal2-title" style="display: flex;">Welcome!</h2>
                <button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
            </div>
            <div class="swal2-content">
                <div id="swal2-content" class="swal2-html-container" style="display: none;"></div>
                <input class="swal2-input" style="display: none;">
                <input type="file" class="swal2-file" style="display: none;">
                <div class="swal2-range" style="display: none;">
                    <input type="range">
                    <output></output>
                </div>
                <select class="swal2-select" style="display: none;"></select>
                <div class="swal2-radio" style="display: none;"></div>
                <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
                    <input type="checkbox">
                    <span class="swal2-label"></span>
                </label>
                <textarea class="swal2-textarea" style="display: none;"></textarea>
                <div class="swal2-validation-message" id="swal2-validation-message"></div>
            </div>
            <div class="swal2-actions" style="display: none;">
                <button type="button" class="swal2-confirm swal2-styled" aria-label="" style="display: none; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">OK</button>
                <button type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: none;">Cancel</button>
            </div>
            <div class="swal2-footer" style="display: none;"></div>
            <div class="swal2-timer-progress-bar-container">
                <div class="swal2-timer-progress-bar" style="display: none;"></div>
            </div>
        </div>
    </div>
</body></html>